POSTGRES_DB=tfg_estimacion_esfuerzo
POSTGRES_USER=tfg_user
POSTGRES_PASSWORD=cambia_esta_password
APP_PORT=8080

APP_INITIAL_ADMIN_ENABLED=true
APP_INITIAL_ADMIN_USERNAME=admin
APP_INITIAL_ADMIN_EMAIL=admin@estimacion.local
APP_INITIAL_ADMIN_PASSWORD=change_this_admin_password
