<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{app.title}">TFG - Estimación de Esfuerzo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/languages.js"></script>
    <script src="/js/fp-details-pagination.js"></script>
    <script src="/js/ucp-details-pagination.js"></script>
    <script src="/js/users-pagination.js"></script>
    <script src="/js/requirement-details-pagination.js"></script>
    <script src="/js/project-list-pagination.js"></script>
</head>